.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: max(100vh, 650px);
}

.container::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: max(100vh, 650px);
  opacity: 0.3;
  background-image: url("../../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-grow: 1;
  user-select: none;
  width: 20px;
}
.mainText {
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  font-size: var(--fs-xxlarge);
  color: var(--dark-green);
  font-weight: 400;
  text-shadow: #0a3a40 0.2px 0 5px;
  display: flex;
  flex-wrap: nowrap;
  p {
    color: var(--dark-green);
    font-size: var(--fs-medium);
    position: absolute;
    font-family: "Gloria Hallelujah", cursive;
  }
  p.bottomSec {
    bottom: -1.2rem;
  }
  p.topSec {
    top: -1rem;
    transform: translateX(-20px);
  }
}
.secondText {
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s
    both;
  font-size: var(--fs-large);
  color: #1d7373;
  background: linear-gradient(to right, #0a3a40 4px, transparent 4px) 0 0,
    linear-gradient(to left, #0a3a40 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, #0a3a40 4px, transparent 4px) 0 0,
    linear-gradient(to top, #0a3a40 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  span {
    display: inline-block;
  }
  @media (max-width: 620px) {
    padding: 0.5rem;
    background-size: 15px 15px;
  }
  @media (max-width: 300px) {
    padding: 0.5rem;
    background-size: 15px 15px;
  }
}
@media (max-width: 620px) {
  .container {
    width: calc(100% - 0.3rem);
  }
}
@media (max-width: 720px) {
  .mainText {
    span {
      font-size: 5rem;
    }
  }
}
@media (max-width: 520px) {
  .mainText {
    span {
      font-size: 4rem;
    }
    p.bottomSec {
      bottom: -1.2rem;
      transform: translateY(20px);
    }
    p.topSec {
      top: -2.3rem;
      transform: translateX(-20px);
    }
  }
  .secondText {
    span {
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 435px) {
  .mainText {
    span {
      font-size: 2.5rem;
    }
  }
  .secondText {
    span {
      font-size: 1rem;
    }
  }
}
