.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-bottom: 2rem;
  label > span,
  p {
    margin-bottom: 0.3rem;
  }
}
@media (max-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../public/chainhor.svg);
    background-repeat: no-repeat;
    background-position: -10px 30px;
  }
  .secContact {
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    section{
      width: 100%;
      max-width: 570px;
      margin: 0 1rem;
    }
  }
}
.secForm,
.secContact {
  padding: 2rem;
  
}
.secForm {
  margin: 0 1rem;
  color: var(--text-light);
  background-color: var(--color-dark);
  border-radius: 20px;
  div:nth-child(6) {
    grid-column: 1 / span 2;
    width: 100%;
    place-items: center;
    button,
    p {
      justify-content: center;
      align-items: center;
    }
    button {
      appearance: button;
      background-color: #119b8f;
      border: solid transparent;
      border-radius: 16px;
      border-width: 0 0 4px;
      color: #ffffff;
      display: inline-block;
      font-size: 15px;
      font-weight: 700;
      margin: 0;
      overflow: visible;
      padding: 13px 19px;
      text-align: center;
      text-transform: uppercase;
      touch-action: manipulation;
      transform: translateZ(0);
      transition: filter 0.2s;
      user-select: none;
    }

    button:after {
      background-clip: padding-box;
      background-color: var(--text-light);
      border: solid transparent;
      border-radius: 16px;
      border-width: 0 0 4px;
      bottom: -4px;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    button:hover:not(:disabled) {
      filter: brightness(1.1);
    }
    button:disabled {
      cursor: auto;
    }
    button:active:after {
      border-width: 0 0 0px;
    }
    button:active {
      padding-bottom: 10px;
    }
  }
}
.secContact {
  padding: 0;
  width: calc(100% - 2rem);
  a,p {
    background-color: var(--color-dark);
    color: var(--text-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    border-radius: 10px;
  }
  a{
    padding: 1rem 2rem;
  }
  img {
    margin: 1rem;
    width: 50px;
    height: 50px;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 2rem;
  div > * {
    width: 100%;
    display: grid;
  }
  label {
    display: flex;
    flex-direction: column;
  }
  span {
    visibility: hidden;
  }
  input,
  textarea {
    background-color: #363638;
    padding: 0.4rem;
    width: 100%;
    max-width: 250px;
    border: none;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 2px 2px 0px rgb(11, 11, 12);
  }
  span {
    visibility: hidden;
    color: var(--font-red);
  }
  input:invalid[focused="true"] ~ span,
  textarea:invalid[focused="true"] ~ span {
    visibility: visible;
  }
  input:invalid[focused="true"],
  textarea:invalid[focused="true"] {
    border: 1px solid var(--font-red);
  }
  div:nth-child(5) {
    grid-column: 1 / span 2;
    textarea {
      height: 10rem;
      resize: none;
      font-family: var(--ff-main);
      max-width: 100%;
    }
  }
}

@media (max-width: 430px) {
  .form {
    display: block;
  }
  .secForm {
    max-width: calc(100% - 5rem);
    width: 100%;
    textarea,
    input {
      width: 100%;
    }
    label > input {
      width: 100%;
      max-width: 100%;
    }
  }
  .secContact {
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
}
