.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  label > span,
  p {
    margin-bottom: 0.3rem;
  }
}
@media (max-width: 840px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}
.secForm,
.secContact {
  padding: 2rem;
}
.secForm {
  margin: 2rem 0.8rem;
  color: var(--text-light);
  background-color: #1d1f24;
  border-radius: 20px;
  div:nth-child(6) {
    grid-column: 1 / span 2;
    width: 100%;
    place-items: center;
    p {
      color: var(--font-red);
    }
    button,
    p {
      justify-content: center;
      align-items: center;
    }
    button {
      appearance: button;
      background-color: var(--sec-color);
      border: solid transparent;
      border-radius: 16px;
      border-width: 0 0 4px;
      color: #FFFFFF;
      display: inline-block;
      font-size: 15px;
      font-weight: 700;
      margin: 0;
      overflow: visible;
      padding: 13px 19px;
      text-align: center;
      text-transform: uppercase;
      touch-action: manipulation;
      transform: translateZ(0);
      transition: filter .2s;
      user-select: none;
     }
     
     button:after {
      background-clip: padding-box;
      background-color:  #119b8f;
      border: solid transparent;
      border-radius: 16px;
      border-width: 0 0 4px;
      bottom: -4px;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
     }
     button:hover:not(:disabled) {
      filter: brightness(1.1);
     }
     button:disabled {
      cursor: auto;
     }
     button:active:after {
      border-width: 0 0 0px;
     }
     button:active {
      padding-bottom: 10px;
     }
  }
}
.secContact {
  background-color: antiquewhite;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 2rem;
  width: 100%;
  & > *,
  div > * {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  span {
    visibility: hidden;
  }
  input,
  textarea {
    padding: 0.4rem;
    width: 100%;
    max-width: 250px;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 3px 31px -13px rgba(66, 68, 90, 1);
  }
  span {
    visibility: hidden;
    color: var(--font-red);
  }
  input:invalid[focused="true"] ~ span,
  textarea:invalid[focused="true"] ~ span {
    visibility: visible;
  }
  input:invalid[focused="true"],
  textarea:invalid[focused="true"] {
    border: 1px solid var(--font-red);
  }
  div:nth-child(5) {
    grid-column: 1 / span 2;
    textarea {
      height: 10rem;
      resize: none;
      font-family: var(--ff-main);
      max-width: 100%;
    }
  }
}

@media (max-width: 430px) {
  .form {
    display: block;
  }
  .secForm {
    max-width: calc(100% - 5rem);
    width: 100%;
    textarea,
    input {
      width: 100%;
    }
    label > input {
      width: 100%;
      max-width: 100%;
    }
  }
}
