.navSec,
.navSec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: var(--fs-xlarge);
  color: var(--color-white);
  background-color: #0a3a40;
  padding: 1rem 0;
  a {
    width: var(--fs-xlarge);
    height: var(--fs-xlarge);
    margin: 0 0.5rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  div,
  section {
    display: flex;
    align-items: center;
  }
}
.navSec2,
.rightSec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.leftSec,
.rightSec {
  font-size: 100%;
  min-height: max(10vh, 200px);
  div{
    margin: 2rem  1rem;
    background-color: #0F5959;
    padding: .4rem;
    min-width: max(80% , 100px);
    border-radius: 10px;
  }
  p,
  li {
    color: white;
    font-size: var(--fs-big);
  }
}
@media (max-width: 1024px) {
  .navSec {
    span {
      font-size: 2rem;
    }
  }
  .navSec2 {
    span {
      font-size: 2rem;
    }
  }
}
@media (max-width: 720px) {
  .navSec {
    span {
      font-size: 1.7rem;
    }
    a {
      margin: 1rem .3rem;
    }
  }
  .navSec2,
  .rightSec,
  .leftSec {
    span,
    li {
      font-size: 1.3rem;
    }
  }
}
@media (max-width: 426px) {
  .navSec {
    span {
      font-size: 1rem;
    }
    a {
      margin: 1rem 0.3rem;
    }
  }
  .navSec2,
  .rightSec,
  .leftSec {
    margin: 1rem 0.2rem;
    span {
      font-size: 0.8rem;
    }
    li{
      font-size: 0.9rem;
    }
  }
}
