.navSec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: var(--fs-xlarge);

  background-color: var(--sec-color);
  padding: 1rem 0;
  a {
    width: var(--fs-xlarge);
    height: var(--fs-xlarge);
    margin: 0 0.5rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  article,
  section {
    display: flex;
    align-items: center;
  }
}
.leftSec {
  margin: 1rem 1rem .4rem 1rem;
  padding: 0 1rem;
  color: var(--text-light);
  font-size: var(--fs-big);
  border: dotted 5px var(--sec-color);
}
.rightSec {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4rem;
  margin-bottom: 2rem;
  place-items: center;
  article {
    color: var(--text-dark);
  }
  li,
  p {
    color: var(--text-light);
  }
  ul {
    font-size: var(--fs-big);
    border: dotted 5px var(--sec-color);
    width: 100%;
    width: calc(100% - 3rem);
  }
  li {
    margin: 0.4rem 0;
  }
  img{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
  }
  li:before {
    content: "--";
    color: #758b87;
    margin-right: 1rem;
  }
}
.skllsLeftSec {
  background-color: var(--text-light);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  font-size: var(--fs-xlarge);
  border: dotted 5px #1c1e23;
  border-right: none ;
  clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 100%);
  background-clip:border-box;
  color: #1c1e23;
  & > *{
    display: flex;
    align-items: center;
  }
}

.skills {
  width: 100%;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 .5rem;
  }
}

@media (max-width: 1024px) {
  .navSec {
    span {
      font-size: 2rem;
    }
  }
  .rightSec {
    
    gap: 0rem;
    img{
      width: 50px;
      height: 50px;
      margin: 0;
    }
    ul {
      place-items: center;
      padding-left: 1rem;
      section {
        text-align: left;
        width: 100%;
      }
    }
    .skills {
      width: 100%;
      display: grid;
      place-items: center;
    }
    grid-template-columns: auto;
    .skllsLeftSec {
      clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 2rem 0 4rem;
    }
  }
}
@media (max-width: 720px) {
  .navSec {
    span {
      font-size: 1.7rem;
    }
    a {
      margin: 1rem 0.3rem;
    }
  }
  .leftSec {
    font-size: var(--fs-medium);
    border: dotted 3px var(--sec-color);
    
  }
  
}
@media (max-width: 550px) {
  .navSec,
  .rightSec {
    div > ul {
      font-size: var(--fs-small);
    }
    span {
      font-size: 1.5rem;
    }
    li:before {
      margin-right: 0.3rem;
    }
    a {
      margin: 1rem 0.3rem;
    }
    .skllsLeftSec {
      padding: 0 1rem;
    }
  }
  .skills {
    font-size: var(--fs-small);
  }
  .leftSec {
    font-size: var(--fs-small);
    border: dotted 2px var(--sec-color);
  }
  .rightSec{
    img{
      width: 35px;
      height: 35px;
    }
  }
}
